.pagination{
    display: flex;
    margin-top: 50px;
}

.pagination button{
    width: 8.5rem;
    height: 2.5rem;
    border: 1px solid #27cc51;
    border-radius: 1.3rem;
    color: #fff;
    margin-left: 15%;
}

.pagination button.active{
    font-weight: 900;
    border-color: #101010;
    background: #27cc51;
    color: #fff;
}